.italic {
    font-family: $secondary-font;
}

h6 {
  font-size: 0.625rem;
}

h5 {
  font-size: 1rem;
}
h4 {
  font-size: 1.6rem;
}

h3 {
  font-size: 2.56rem;
}
h2 {
  font-size: 4.096rem;
}

h1 {
  font-size: 6.554em;
}
