

.container {
  text-align: center;
  position: relative;
  height: 100vh;

  .logo {
    position: absolute;
    text-align: center;
    top: 40%;
    left: calc(50% - 76.5px)
  }

  .title {
    letter-spacing: .3em;
    position: absolute;
    top: 70%;
    display: block;
    left: 50%;
    transform: translateX(-50%);
  }

  .italic {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translateX(-50%);

  }
}
